<div class="row">

    <div class="col-md-8 col-md-offset-2 text-center">
    	<h3 class="media-heading">Josue Ibarra <small>El Ninja</small></h3>
    	<div class="row">
    	<div class="col-md-4">
	<img src="https://avatars.githubusercontent.com/u/1480657?size=80" name="Josue Ibarra" width="140" height="140" border="0" class="img-rounded"></a>
		</div>
		<div class="col-md-6">
	
	   <span class="label label-warning">JavaScript / Express / AngularJS / JQuery</span>
	   <span class="label label-danger">PHP / CodeIgniter / Drupal / Wordpress</span>
	   <span class="label label-info">Java / Android OS / JavaFX</span>
	   <span class="label label-info">PostgreSQL / MongoDB</span>
	   <span class="label label-success">RHEL / Ubuntu / Windows Server 2012</span>
	   <span class="label label-warning">Openshift / Ditigal Ocean / AWS</span>
	   </div>
	   </div>
	<hr>
<div class="well text-left">
<h3>Projects and Skills</h3>
<p>
		With my current employer, I mainly work a PHP / JS / Java / PostgreSQL / RHEL stack, and I love every bit of it.
		I developed the whole array of tools that are used company wide, most notably a Inventory/POS solution.
		The biggest challenge I faced while developing the tools was the unexpected obscurity of programming a platform independent driver for a ESC/POS printer. I solved it by writing my own implementation as a Java class.
</p><p>
		Last year I did one of the coolest jobs yet, I got to design a new brand of tablets, the first run was about 2,000 tablets in two 7" models and this year I got to add another 9" model to the brand. In short I developed the full experience of the product, from the logo to the system internals and that was a great experience.
</p><p>
		I also got the opportunity of teaching at CESUN university a few months ago, I taught a semester of Rapid Application Development, the biggest thing I learned was to be more assertive. Few things have brought me to that level of confidence in my skills.
</p><p>
		My favorite frameworks are Codeigniter, AngularJS, Express, Bootstrap & Spring. I've also delved into many other stacks and frameworks. For my personal projects I like to use Python for quick tests, and the MEAN stack for most web based apps.
</p>
</div>
	<br>

    </div>



</div>