<div class="row">
    <div class="col-md-9">
    	<div class="jumbotron">
    	  <div class="container">
    	    <h1>Hello There!</h1>
    	    <p>If you're interested in reaching me, you can call me at (619) 796 1730</p>
    	    <p><a href="mailto:contact@elninja.com" target="_blank" class="btn btn-primary btn-lg" role="button">Send Email &raquo;</a></p>
    	  </div>
    	</div>

    </div>

    <!-- Sidebar: -->
    <div class="col-md-3 center-text">
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/josue-ibarra/39/291/172" data-format="inline" data-related="false" data-width="80"></script>
    <br><br>
	<a href="http://stackoverflow.com/users/1599609/josue-ibarra">
		<img src="http://stackoverflow.com/users/flair/1599609.png" width="208" height="58" alt="Profile for Josue Ibarra at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Josue Ibarra at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
	</a>
	    

    </div>



</div>